.container {
    min-height: 100%;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    background: rgb(104,38,110);
    background: linear-gradient(90deg, rgba(104,38,110,.7) 0%, rgba(127,237,255,.7) 100%);
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 0 !important;
    overscroll-behavior-y: none !important;
}
.buttons {
    background-color: black !important;
    outline: none !important;
    border: none !important;
}
.buttons:hover {
    background-color:white !important;
    color: black !important;
}

.navbar {
    color: black;
}

.clickable-link, .clickable-link:active, .clickable-link:hover {
    cursor:pointer !important;
    color:black !important;
    text-decoration:none !important;
    flex-direction: row;
}

.tab-bar {
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.access-card {
    background-color: transparent !important;
    border: none !important;
    width: 100%;
    max-width: 50vh;
    margin-left: auto;
    margin-right: auto;
}
.standard-card {
    background-color: transparent !important;
    border: none !important;
    width: 100%;
    max-width: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
}
.attendee-event-card {
    margin-top: 0;
}
.main-card {
    max-width: 100vh;
    min-height: 50vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 600px) {
    .standard-card {
        margin-top : auto;
        max-height: 80vh;
    }
    .attendee-event-card {
        max-height: 90vh;
    }
    .control-panel-card-body {
        min-height: 70vh !important;
    }
    .comment-wall-container {
        min-height: 55vh !important;
        max-height: 60vh !important;
    }
    .chart-container {
        width: 90vw;
    }
}

@media only screen and (max-height: 600px) {
    .standard-card {
        max-width: 180vh !important;
    }
    .access-card {
        max-width: 180vh !important;
    }
}

.access-card-body {
    background-color: white !important;
    border-radius: .75rem;
}
.custom-nav-tabs {
    background-color: rgb(128,128,128);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.custom-nav-links, .custom-nav-links:hover {
    color: white;
}
.custom-nav-links:active {
    color: black;
}
.builder-row {
    min-height: inherit;
}
.builder-cols-left {
    border-right: 1px solid #C0C0C0;
}
.builder-cols-right {
    border-left: 1px solid #C0C0C0;
}
.builder-option:hover {
    background-color: lightblue;
    color:white;

}
.builder-option {
    cursor: pointer;
}
.form-builder-col {
    width: 100%;
}
.comment-list {
    text-align: left;
}
.comment-likes {
    text-align: right;
}
.like-button {
    background-color: transparent !important;
    color: mediumblue !important;
    border: none !important;
    padding: .2rem .5rem !important;
}
.comment-append {
    background: none !important;
    border-left: none !important;
}
.builder-toggle {
    border: none;
    background: transparent;
}
.event-select-button {
    color: dodgerblue !important;
    background: none !important;
    border: none !important;
}
.comment-wall-container {
    overflow-y: auto;
    min-height: 50vh;
    max-height: 60vh;
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid rgba(0,0,0,.125);
}
.attendee-comment-wall-container {
    max-height: 65vh !important;
}
.nav-stats-font {
    font-size: max(1.75vw, 3vh);
}
.back-button, .back-button:active {
    color: black !important;
    background: none !important;
    border: none !important;
    font-weight: bold !important;
    font-size: x-large !important;
}
.like-button-liked {
    color: blue !important;
}
.polls-container {
    overflow-y: auto;
    min-height: 55vh;
    max-height: 50vh;
}
.attendee-polls-container {
    max-height: 70vh;
    min-height: 60vh;
}
.answers-container {
    overflow-y: auto;
    max-height: 20vh;
    border: 1px solid rgba(0,0,0,.125);
}
.emoji-grid {
    max-width: 30vh;
    margin-left: auto;
    margin-right: auto;
}
.chart-container {
    height: 30vh;
}
.logout-button, .logout-button:active {
    font-size: max(1.75vw, 3vh) !important;
}
.chart-dropdown {
    max-width: 20vh;
}
.copy-link {
    cursor: pointer;
    max-width: 30vh;
    white-space: nowrap;
}
.carousel-control-prev, .carousel-control-next {
    width: 5% !important;
}
.title-logo-small {
    height: 5vh;
}
